@import "./vars";

*,
*:before,
*:after {
    margin: 0;
    padding: 0;    
}

html,
body {
    padding: 0;
    margin: 0;
    min-width: 95%;    
    line-height: 1;
    overflow-x: hidden;
}

a,
a:hover,
a:visited {
    text-decoration: none;    
}

button {
    border: none;
}