@font-face {
    font-family: "Primary";
    src: url("/src/assets/fonts/Karmen.ttf");
  }  

@font-face {
    font-family: "Secondary";
    src: url("/src/assets/fonts/Tolkien.ttf");
  }

$main-color: teal;
$secondary-color: orange;
$warning-color: red;
$border-color: rgba(0,0,0,0.6);
$background-color: rgba(0,0,0,0.6);
$shadow-color: rgba(0, 128,128,0.6);
$desktop-font: 18px;
$tablet-font: 14px;
$mobile-font: 10px;

%flex {
    display: flex;    
    align-items: center;
    justify-content: space-between;
}

%border {
    width: 95%;
    margin: 0 auto;
    border: 2px solid $border-color;
    box-shadow: 2px 4px $border-color;
}

%header {
  font-family: "Primary", Georgia, monospace;
  color: $secondary-color;
  text-align: center; 
  margin: 20px; 
}

%warning {  
    font-family: "Secondary", Georgia, monospace;
    color: red;
    text-align: center; 
    margin: 20px;   
}
