@import "vars";
.auth {
    @extend %flex; 
    @media (max-width: 768px) {
        display: none;        
    }
    .auth-bar {  
        margin: 10px;       
        border: 0.1px $main-color solid; 
        border-radius: 15px; 
        .user {
            margin: 0 15px;
        }
    }
}
