@import "vars";

.footer {    
    @extend %border;        
    @extend %flex; 
    background-color: $background-color;
    min-height: 12vh; 
    font-family: "Secondary", Georgia, monospace;   
}

.contacts {
    @extend %flex; 
    width: 100%;
}