@import "vars";


.login-form {
    @extend %flex;
    @extend %border;
    padding-top: 50px;
    flex-direction: column;
    justify-content: start;
    min-height: 63vh;
    background-color: $background-color;
    .message {
        @extend %warning;
        font-size: 28px;        
    }
}

