@import "vars";

.area {
    @extend %flex;
    flex-direction: column;   
    font-family: "Primary", Georgia, monospace;    
    .area-label {
        font-size: 28px;
    }
    .area-field {
        @extend %interface-element;
        height: 200px;
        &::placeholder {
            font-family: "Primary", Georgia, monospace;
            color: $secondary-color;
            text-align: center;
        }
        @media (max-width: 768px) {        
            font-size: $tablet-font;        
        }
    
        @media (max-width: 361px) {
            font-size: $mobile-font;
        }
    }
}