@import "vars";

.button {
    background-color: $main-color;
    color: $secondary-color;
    min-width: 120px;
    font-family: "Primary", Georgia, monospace;
    font-size: $desktop-font;
    box-shadow: 2px 4px $shadow-color;    
    border-radius: 10px;
    padding: 5px 15px;
    transition: all 0.5s ease-in-out;
    margin: 15px;

    &:hover {
        transform: scale(1.02);
    }

    &:active {
        box-shadow: 1px 2px rgba(0, 108,108,0.8);    
        border-radius: 12px;
        
    }

    @media (max-width: 768px) {
        min-width: 100px;
        font-size: $tablet-font;
        padding: 3px 10px;
    }

    @media (max-width: 361px) {
        min-width: 70px;
        font-size: $mobile-font;
        padding: 2px 5px;
    }
}

[disabled] {
    pointer-events: none;
    background-color: white;
    color: black;
}


