@import "vars";


.post {
    @extend %border;    
    min-height: 63vh;      
    background-color: $background-color;    
    font-family: "Secondary", Georgia, monospace;
    .post-container {
        padding: 15px;
        .author {
            color: $secondary-color;
            font-size: 24px;
            margin: 15px auto;
        }
    }
}