@import "vars";

.side-bar {     
    width: 25vw;
    min-height: 63vh;           
    .category-container {
        @extend %flex;
        flex-direction: column;
        margin: 20px auto;               
    }
    .load-bar {
        @extend %flex;
        justify-content: center;
        min-height: 63vh;        
    }
}
