@import "./styles/reset";
@import "./styles/vars";


#root { 
    @extend %border;       
    padding: 1%;
    font-size: $desktop-font; 

    .page-header {
        @extend %header;
        font-size: 32px;

    }
    
    @media (max-width: 768px) {        
        font-size: $tablet-font; 
        .page-header {            
            font-size: 24px;            
        }       
    }

    @media (max-width: 361px) {
        font-size: $mobile-font;
        .page-header {            
            font-size: 20px;            
        }   
    }
}

